.container {
  color: #2a6883;
  font-family: monospace, monospace;
  font-size: 16px;
  width: 550px;
}

h1, h2, h3 {
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

h1 {
  font-family: 'Fifteen';
  font-size: 160px;
  font-weight: bold;
  margin: 10px 0 0 0;
  text-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
}

h1 .logo1 { color: #e27272; }
h1 .logo2 { color: #d3d3ba; }
h1 .logo3 { color: #a6a689; }
h1 .logo4 { color: #323212; }
h1 .logo5 { color: #2a6883; }

h2 {
  font-size: 22px;
  margin: 0;
}

h3 {
  color: #2a6883;
  font-size: 50px;
  font-style: normal;
  font-weight: bold;
  margin: 0;
}

h3.why,
h3.features,
h3.installation,
h3.usage {
  color: #e27272;
  font-family: 'Fifteen';
  margin: 35px 0 0 0;
  padding: 0;
}

ul {
  list-style: none;
  margin-left: 60px;
  padding-left: 15px;
}

ul li:before {
  content: '+';
  margin: 0 1em;
}

pre {
  background: #f9f9f9;
  padding: 10px 0;
  text-align: center;
}

.source-api-howtos {
  margin: 60px 0 40px 0;
}

.source-api-howtos h3 {
  font-family: 'Fifteen';
}

.source,
.api {
  border-right: 5px solid #2a6883;
}

.source h3 a,
.api h3 a,
.howtos h3 a {
  color: #e27272;
}
